
body{
    margin:0;
    background-color: #960200;
}
.ciudad img{
    width: 100%;
    margin-top: 0%;
}
.cuartel{
    margin-top: 23px;
    font-family: play;
    color:white;
    font-size: 25px;
    text-align:left;
}
.logo{
    margin-left:20px;
    margin-top:5px;
    margin-bottom: 5px;
}
.header{
    width: 100%;
    position: fixed;
    display:grid;
    grid-template-columns: 20% 80%;
    background-color: rgb(57,50,50);
}
.cartelInicio{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}
.tituloInicio{
    grid-column: 1/4;
    margin-top:130px;
    font-family: lato;
    color:#ffd046;
    Font-size:60px;
    text-align: center;
    font-weight:bold;
}
.subtituloInicio{
    grid-column: 1/4;
    margin-top:80px;
    font-family: lato;
    color:#ffd046;
    Font-size:40px;
    text-align: center;
}
.btnInicio{
    grid-column: 2/3;
    margin-top:100px;
    font-family: lato;
    color:#eadaa2;
    Font-size:40px;
    text-align: center;
    background-color:#241e4e;
    border-color: #ffd046;
    border-radius: 20px;
    
}
a[class="btnInicio"]{
    color:#eadaa2;
    text-decoration: none;
}
.btnInicio:hover{
    font-weight: bold;
}
    